@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Six+Caps&family=Varela+Round&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #5f6fff;
  --color-primary-dull: #005a87;
}

::-webkit-scrollbar {
    display: none; /* safer than @apply hidden */
}

* {
    font-family: 'Outfit', sans-serif;
}